gensim>=3.5.0
ipython>=8.10.0
jupyterlab>=0.33.8
matplotlib>=2.2.2
nltk>=3.6.6
nose2>=0.8.0
notebook>=6.4.12
numpy>=1.14.5
pandas>=0.23.4
python-crfsuite>=0.9.6
scikit-learn>=0.19.2
scipy>=1.10.0
Whoosh>=2.7.4
