version: '3'
services:
    artsim:
        image: sdavidhdez/artsim:latest
        container_name: 'artsim'
        ports:
            - '8888:8888'
        volumes:
            - '../:/home/jupyterlab/app/'
            #- './nltk_data/:/home/jupyterlab/nltk_data/'
            #- './volumes/test-gpu.py:/home/jupyterlab/test-gpu.py'
            #- './volumes/jupyter_notebook_config.py:/home/jupyterlab/.jupyter/jupyter_notebook_config.py'
            - './volumes/.bashrc:/home/jupyterlab/.bashrc'
            - './volumes/.bash_history:/home/jupyterlab/.bash_history'
        # environment:
            # - VIRTUAL_HOST=somedomain
            # - VIRTUAL_PORT=8888
            # - LETSENCRYPT_HOST= 'somedomain'
# networks:
#     default:
#         external:
#             name: webproxy
